<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--AzureStorage-->
    <add name="StorageConnectionString" connectionString="string de conexion" />
    <!--LocalDB-->
    <add name="DefaultConnection" connectionString="string de conexion" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>